body {
    background-color: #f23;
}
#header-nav {
    background-color: #abc;
    border-radius: 0;
    border: 0;
}

#header-brand {
    margin: 2px 0px 2px 6px;
}

#header-nav div.navbar-collapse {
    background-color: #bca;
    margin: 0px -15px 0px -15px;
}

.main-content {
    background-color: #cba;
    margin: 4px;
    text-align: justify;
    padding: 4px;
}
